.grid-container {
    display: inline-grid;
    /* grid row-gap using*/
    gap: 50px;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: 20px auto 200px*/
    background-color: #2196F3;
    /* justify-content: center; */
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .grid-container {
        display: inline-grid;
        /* grid row-gap using*/
        /* gap: 50px; */
        grid-template-columns: auto auto auto;
        /* grid-template-rows: 20px auto 200px*/
        background-color: #2196F3;
        /* justify-content: center; */
        padding: 10px;
    }

    .last-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        grid-column: auto;
    }
}

@media only screen and (max-width:991px) {
    .grid-container {
        display: grid;
        /* grid row-gap using*/
        /* gap: 50px; */
        grid-template-columns: auto auto;
        /* grid-template-rows: 20px auto 200px*/

        background-color: #2196F3;
        /* justify-content: center; */
        padding: 10px;
    }

    .last-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        grid-column: span 2/2;

    }
}

@media only screen and (max-width:767px) {
    .grid-container {
        display: inline-grid;
        /* grid row-gap using*/
        /* gap: 50px; */
        grid-template-columns: auto;
        /* grid-template-rows: 20px auto 200px*/
        background-color: #2196F3;
        /* justify-content: center; */
        padding: 10px;
    }

    .last-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        grid-column: auto;
    }
}